@model WaiterManager

@{
    ViewData["Title"] = "Manager's Page";
}

<div id="Manager" class="container-lg" " >
 <Div class >
       <h1 class="text-center">Decision Pizza</h1>
      <h1 class="display-4"> Welcome @Html.DisplayFor(model => model.FullNames)</h1>
       
    </Div>
</div>
<br>
<form >
<table class="table table-hover table-dark">
    <tr>
          <h3 class="text-center">Weekly Schedule</h3>
    </tr>
    <tr>
    <th scope="col">Time</th>
    <th scope="col">Monday</th>
    <th scope="col">Tuesday</th>
    <th scope="col">Wednesday</th>
    <th scope="col">Thursday</th>
    <th scope="col">Friday</th>
    </tr>
    <tr>
        <td>09:00 - 12:00</td>
        <td class="table-success text-white"></td>   
        <td class="table-success text-white"></td>   
        <td class="table-danger text-white"></td>   
        <td class="table-success text-white"></td>   
        <td class="table-success text-white"></td>   
    </tr>
    <tr>
        <td>12:00 - 16:00</td>
        <td class="table-success text-white"></td>   
        <td class="table-danger text-white"></td>   
        <td class="table-success text-white"></td>   
        <td class="table-success text-white"></td>   
        <td class="table-success text-white"></td>   

    </tr>
    <tr>
        <td>16:00 - 21:00</td>
        <td class="table-success text-white"></td>   
        <td class="table-danger text-white"></td>   
        <td class="table-success text-white"></td>   
        <td class="table-success text-white"></td>   
        <td class="table-success text-white"></td>   
    </tr>
    
</table>
<form action="">
     <div class="container-lg">
        <div class="col-md-12 text-center">
           <button type="button" class="btn btn-primary btn-lg btn-block">Clear Table</button>
        </div>
    </div></form>
   
 
</form>
<br>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-dark">
        <tr>
       <th>Name</th>
       <th>Day</th>
       <th>Time Slot</th>
       <th>Options</th>
     </tr>
     @foreach (var timeSlot in Model.TimeslotsResults){
       <tr>
        <td>@timeSlot.FullNames </td>
        <td>@timeSlot.Day</td>
        <td>@timeSlot.Time</td>
       <td>
         <form action="" method="post">
           <button type="button" class="btn btn-outline-danger">Reject</button>
         </form>

         <form action="" method="post">
           <button type="button" class="btn btn-outline-success">Approve</button>
         </form>

         </td>
       </tr>
      }
     
    
      </table>
    </div>
  </div>
</div>